@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

body {
  margin: 0;
  font-family: "Permanent Marker", cursive;
}

button {
  font-family: "Permanent Marker", cursive;
}

h1,
h2,
h3,
p,
label,
input {
  margin: 0;
  padding: 0;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgb(0, 61, 102);
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 1em rgb(0 0 0 / 0.3);
  max-width: 50ch;
  padding: 25px;
  &::backdrop {
    background: linear-gradient(45deg, yellow, blue);
    opacity: 0.8;
  }
  &:not([open]) {
    display: none;
  }
  &__display {
    margin-top: 25px;
  }
  &__input--size {
    margin-top: 5px;
  }
  &__color-container {
    margin-top: 40px;
    display: flex;
    gap: 5px;
    justify-content: space-between;
    width: 100%;
  }
  &__input--color {
    transition: 0.1s ease-in-out;
    &:hover{
      transform: scale(1.5);
    }
  }
  &__background-container {
    margin-top: 10px;
    display: flex;
    gap: 5px;
    justify-content: space-between;
    width: 100%;
  }
  &__input--background {
    transition: 0.1s ease-in-out;
    &:hover{
      transform: scale(1.5);
    }
  }
}

.button--open {
  font-weight: 1000;
  font-size: 16px;
  color: black;
  // text-shadow: 3px 3px black;
  background-color: white;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  transition: 0.05s ease-in-out;
  &:hover {
    color: white;
    border: 2px solid white;
    background-color: #ff4400;
    transform: scale(1.1);
  }
}

.button--close {
  font-weight: 1000;
  font-size: 12px;
  color: white;
  // text-shadow: 3px 3px black;
  background-color: black;
  border: none;
  border-radius: 25px;
  padding: 6px 12px;
  transition: 0.05s ease-in-out;
  margin-top: 20px;
  transition: 0.1s;
  &:hover {
    color: white;
    background-color: #ff4500;
    transform: scale(1.1);
  }
}

.button--erase {
  font-size: 20px;
  padding: 5px 10px;
  margin-top: 15px;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 25px;
  transition: 0.1s;
  &:hover {
    color: white;
    background-color: #ff4500;
    transform: scale(1.1);
  }
}

.nav-bar {
  min-height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 0 35px;
  flex-wrap: wrap;
  &__menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__text {
    color: white;
    margin-right: 10px;
  }
  &__logo {
    color: white;
  }
}

.sketch {
  height: 85vh;
  display: flex;
  flex-direction: column;
  background-color: black;
  &__row {
    flex: 1;
    display: flex;
    background-color: aqua;
  }
}

.square {
  flex: 1;
  background-color: #ff4500;
  transition: ease-in-out 0.5s;
  &--hover {
    background-color: #8a2be2;
  }
}

footer {
  min-height: 3vh;
  color: white;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
